.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Container Style */
.container {
  margin-top: 20px;
}

/* Title Style */
h1 {
  font-size: 24px;
  color: #000; /* Black */
  text-align: center;
  margin-bottom: 20px;
}

/* Input Group Style */
.input-group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/* Input Field Style */
.input-group .form-control {
  width: 300px;
  margin-right: 10px;
}

/* Search Button Style */
.input-group .btn-primary {
  background-color: #FFA500; /* Orange */
  border: none;
}

/* Table Card Style */
.card {
  border: 1px solid #000; /* Black border */
}

/* Table Header Style */
.card-title {
  background-color: #FFA500; /* Orange */
  color: #FFF; /* White */
  padding: 10px;
  margin: -15px -15px 15px -15px;
  border-bottom: 1px solid #000; /* Black border */
}

/* Table Row Style */
.card-body p {
  margin: 5px 0;
}

/* Placeholder Text Color in Tables */
.placeholder-text {
  color: #808080; /* Grey for placeholder text like 'DD/MM/YY' or 'xx.xx' */
}
